*.pyc
*.pyo
*.pyd
__pycache__/
*.egg-info/
.eggs/
*.bak
*.tmp
*.swp
*.swo
pip-log.txt
pip-delete-this-directory.txt
.venv/
venv/
ENV/
env/
instance/
*.db
*.sqlite3
.env
.env.*
.vscode/
.DS_Store
Thumbs.db
desktop.ini
dist/
build/
out/
coverage/
*.log
.idea/
